@media (min-width:768px) {

body {
max-width:768px;
}	


input[type="text"] {
    display: block;
    margin : 30px auto;
    padding: 10px;
    font-size:16px;
    width:42%;
    border-radius: 5px;
    border:0.5px solid #cccccc;
}

.list{
    display: flex;
	margin-left: 40px;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    }
img {
    width: 22%;
    height: auto;
}

}

@media (min-width:1068px) {
body {
max-width:1068px;
}

img {
    width: 100%;
    height: auto;
}


.list{

justify-content: space-around;
margin-left:auto;
margin-right:auto; 
}

.row-1 {
display:flex;
flex-wrap:wrap;
flex-direction :row;
justify-content:space-between;
margin-bottom:40px;	
}


.row-2 {
display:flex;
flex-wrap:wrap;
flex-direction :row;
justify-content:space-between;
margin-bottom:40px;	
}

.row-3 {
display:flex;
flex-wrap:wrap;
flex-direction :row;
justify-content:space-between;
margin-bottom:40px;	
}
}